/* output */
.output {
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: relative;
}

.open {
    color: var(--main-color);
}

.hidden {
    visibility: hidden;
}

.checkbox {
    visibility: hidden;
}

.label:hover {
    cursor: pointer;
}