.modifyBtn {
    width: 80%;
    max-width: 70em;
    min-width: 30em;
    text-align: right;

    margin: 0.5em 0;

    color: var(--main-color);
    margin-right: 8px;
}

.modifyBtn > span:hover {
    cursor: pointer;
}