.header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 0.5em;
}

.title {
    color: var(--txt-color);
    font-size: 1em;
}

/* form */
.ioForm {
    display: flex;
    align-items: center;
    margin: 1em 0;
    margin-left: 1em;
}

.label {
    color: var(--main-color);
    margin-right: 1em;
}

.input {
    background-color: var(--white-color);
    border: 1px solid var(--line-color);
    border-radius: 5px;
    color: var(--light-txt-color);
}

.input:focus {
    border: 1px solid var(--main-color);
    outline: none;
}

/* buttons */
.buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    min-width: 30em;
    margin: 1em 0 2em 0 ;
}

/* move buttons */
.moveBtn {
    display: flex;
    align-items: center;

    box-sizing: border-box;
    padding: 4px;

    background-color: transparent;
    border: none;
    color: var(--light-txt-color);
    font-size: 14px;

    margin: 0 0.5em;
}

.moveBtn > svg {
    font-size: 18px;
    margin: 0 4px;
}

.moveBtn:hover {
    cursor: pointer;
    color: var(--main-color);
}