/* select box */
.selectBox {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    min-width: 10em;
    max-width: 20em;
}

/* default value */
.defaultValue {
    position: relative;
    box-sizing: border-box;
    padding: 0.8em;
    margin-top: 1em;
    width: 50%;
    letter-spacing: 0.5em;

    background-color: var(--white-color);
    border: 1px solid var(--grey-line-color);
    border-radius: 10px;
    color: var(--main-color);
    font-size: 16px;
    font-weight: var(--bold);

    display: flex;
    align-items: center;
    justify-content: center;

    transition: all 250ms ease-in-out;
}

.defaultValue:hover {
    cursor: pointer;
    border-color: var(--line-color);
}

.defaultValue > svg {
    position: absolute;
    right: 1em;
    font-size: 1em;
    margin-left: 4px;
}

/* option */
.options {
    width: 50%;
    display: none;
    /* visibility: hidden; */
    box-sizing: border-box;
    padding: 0.5em;
    /* animation: close 250ms; */
}

.options.active {
    display: block;
    width: 50%;
    /* visibility: visible; */
    animation: open 250ms;
}

@keyframes open {
    from {
        opacity: 0;
        margin-top: -1em;
        margin-bottom: 1em;
    }
    to {
        opacity: 1;
        margin-top: 0;
        margin-bottom: 0;
    }
}

/* option component */
.option {
    box-sizing: border-box;
    padding: 0.5em;
    width: 100%;
    letter-spacing: 0.5em;
    font-size: 14px;
    /* text-align: left; */

    background-color: transparent;
    border: none;
    transition: transform 100ms, background-color 100ms ease-out;
}

.option:hover {
    cursor: pointer;
    background-color: #f5faf7;
    transform: scale(1.1);
}
