.ioEdit {
    margin-top: 2em;
}

/* header */
.header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.title {
    color: var(--txt-color);
    font-size: 1em;
    margin: 0;
}

.header > form {
    margin: 1em 0;
}

.header > form > label {
    color: var(--main-color);
    margin: 0 1em;
}

.header > form > input {
    background-color: var(--white-color);
    border: 1px solid var(--line-color);
    border-radius: 5px;
    color: var(--light-txt-color);
}

.header > form > input:focus {
    border: 1px solid var(--main-color);
    outline: none;
}

/* pagination */
/* .pagination {
    display: flex;
    align-items: center;
} */

/* .testInput {
    border: none;
    background-color: transparent;
    text-align: center;
    -moz-appearance: textfield;
} */

/* .testInput::-webkit-inner-spin-button,
.testInput::-webkit-outer-spin-button {
    -webkit-appearance: none;
} */

/* buttons */
.buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    min-width: 30em;
    margin: 1em 0 2em 0 ;
}

.button {
    box-sizing: border-box;
    margin: 0 1em;
    border: none;
    border-radius: 5px;
    background-color: var(--btn-color);
    color: var(--white-color);
    padding: 8px 8px;
    font-weight: var(--bold);
}

.button:hover {
    cursor: pointer;
}

/* move buttons */
.moveBtn {
    display: flex;
    align-items: center;

    box-sizing: border-box;
    padding: 4px;

    background-color: transparent;
    border: none;
    color: var(--light-txt-color);
    font-size: 14px;

    margin: 0 0.5em;
}

.moveBtn > svg {
    font-size: 18px;
    margin: 0 4px;
}

.moveBtn:hover {
    cursor: pointer;
    color: var(--main-color);
}

@media screen and (max-width: 786px) {
    .moveBtn {
        font-size: 14px;
    }
}