.ioEdit {
    margin-top: 2em;
}

/* header */
.header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.title {
    color: var(--txt-color);
    font-size: 1em;
    margin: 0;
}

.header > form {
    margin: 1em 0;
}

.header > form > label {
    color: var(--main-color);
    margin: 0 1em;
}

.header > form > input {
    background-color: var(--white-color);
    border: 1px solid var(--main-color);
    border-radius: 5px;
    color: var(--light-txt-color);
}

.header > form > input:focus {
    outline: none;
}

/* buttons */
.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    min-width: 30em;
    margin: 1em 0 2em 0 ;
}

.button {
    box-sizing: border-box;
    margin: 0 1em;
    border: none;
    border-radius: 5px;
    background-color: var(--btn-color);
    color: var(--white-color);
    padding: 8px 8px;
    font-weight: var(--bold);
}

.button:hover {
    cursor: pointer;
}