.ioEdit {
    margin: 2em 0;
}

/* header */
.header {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
}

.title {
    color: var(--txt-color);
    font-size: 1em;
    margin: 0;
}

.header > label {
    color: var(--main-color);
    margin: 0 1em;
}

.header > input {
    background-color: var(--white-color);
    border: 1px solid var(--main-color);
    border-radius: 5px;
    color: var(--light-txt-color);
}

.header > input:focus {
    outline: none;
}

/* buttons */
.button {
    box-sizing: border-box;
    margin-right: 1em;
    margin-bottom: 1em;
    border: none;
    border-radius: 5px;
    background-color: var(--btn-color);
    color: var(--white-color);
    padding: 8px 8px;
    font-weight: var(--bold);
}

.button:hover {
    cursor: pointer;
}