.instruction {
    margin-top: 1em;
}

/* index input */
.header {
    margin: 1em 0;
}

.header > label {
    font-size: 1em;
    margin-left: 1em;
    color: var(--main-color);
}

.header > input {
    box-sizing: border-box;
    margin-left: 1em;

    color: var(--light-txt-color);
    background-color: var(--white-color);
    border-radius: 5px;
    border: 1px solid var(--line-color);
}

.header > input:focus {
    border: 1px solid var(--main-color);
    outline: none;
}