.wrapper {
    position: relative;
}

.start {
    display: flex;
    align-items: flex-start;
}

.start > h1 {
    margin: 0.5em;
}

.button {
    position: absolute;
    left: 40%;
    bottom: 1em;
    padding: 0;
    /* margin-bottom: 1em; */
    background-color: transparent;
    border: none;
    font-size: 1em;
}

.button:hover {
    cursor: pointer;
}