.input {
    box-sizing: border-box;
    padding: 0.5em 1em;

    /* 최대 높이 */
    max-height: 8.5em;
    overflow-y: hidden;
    resize: none;
    background-color: transparent;

    width: 100%;
    border: none;
    outline: none;

    font-family: 'Pretendard';
    line-height: 1.5em;
    font-size: 1em;
    color: var(--txt-color);
}

.input::placeholder {
    color: var(--placeholder-txt-color);
}