@font-face {
  font-family: 'Pretendard';
  font-weight: 300;
  font-style: normal;
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Light.eot');
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Light.eot?#iefix') format('embedded-opentype'),
      url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Light.woff2') format('woff2'),
      url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Light.woff') format('woff'),
      url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Light.ttf') format("truetype");
  font-display: swap;
}
@font-face {
  font-family: 'Pretendard';
  font-weight: 400;
  font-style: normal;
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Regular.eot');
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Regular.eot?#iefix') format('embedded-opentype'),
      url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Regular.woff2') format('woff2'),
      url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Regular.woff') format('woff'),
      url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Regular.ttf') format("truetype");
  font-display: swap;
}
@font-face {
  font-family: 'Pretendard';
  font-weight: 500;
  font-style: normal;
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Medium.eot');
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Medium.eot?#iefix') format('embedded-opentype'),
      url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Medium.woff2') format('woff2'),
      url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Medium.woff') format('woff'),
      url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Medium.ttf') format("truetype");
  font-display: swap;
}
@font-face {
  font-family: 'Pretendard';
  font-weight: 600;
  font-style: normal;
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-SemiBold.eot');
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-SemiBold.eot?#iefix') format('embedded-opentype'),
      url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-SemiBold.woff2') format('woff2'),
      url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-SemiBold.woff') format('woff'),
      url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-SemiBold.ttf') format("truetype");
  font-display: swap;
}
@font-face {
  font-family: 'Pretendard';
  font-weight: 700;
  font-style: normal;
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Bold.eot');
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Bold.eot?#iefix') format('embedded-opentype'),
      url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Bold.woff2') format('woff2'),
      url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Bold.woff') format('woff'),
      url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Bold.ttf') format("truetype");
  font-display: swap;
}
@font-face {
  font-family: 'DungGeunMo';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'TheJamsil5Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

:root{
  /* colors */
  --white-color: #FFFFFF;
  --main-bg-color: #fbfbfb;
  --grey-g-color: #BDDCC9;
  --red-color: #e02b2b;

  --txt-color: #222222;
  /* --g-txt-color: #58C23E; */
  --g-txt-color: #2861bc;
  /* --g-dark-txt-color: #357525; */
  --g-dark-txt-color: #1e4b93;
  --light-txt-color: #777777;
  --placeholder-txt-color: #B6B6B6;


  --line-color: #a3d0f0;
  --grey-line-color: #f1f1f1;
  --divider-color: #f6f6f6;

  /* --btn-color: #9DDC6C; */
  --btn-color: #7abae6;

  /* --table-color: #eaeeec; */
  --table-color: #eaecee;

  /* adobe greens */
  /* --main-color: #58C23E; */
  /* --light-main-color: #8ECC7E; */

  --main-color: #2458ac;
  --light-main-color: #7abae6;

  /* nc colors */
  --nc-blue: #003569;
  --nc-blue-light: #7abae6;
  --nc-blue-extra-light: #a3d0f0;
  --nc-gradient: #1e4b93;
  --nc-beige: #ebcc92;

  /* fonts */
  --bold: 700;
  --semi-bold: 600;
  --medium: 500;
  --regular : 400;
  --light: 300;

  /* highlight */
  --h-color-0: #BBDCE2bd;
  --h-color-1: #BBBEEAbd;
  --h-color-2: #EDE6B1bd;
}

html, body {
  font-family: 'Pretendard';
  font-size: 16px;
  font-weight: var(--regular);

  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

  color: var(--txt-color);
  background-color: var(--main-bg-color);
}

ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--txt-color);
}

p {
  margin: 0;
}

.body {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 2em 3em;
}

#root {
  width: 100%;
  height: 100%;
}

.root-wrapper{
  display: flex;
  align-items: flex-start;
  width: 100%;
  /* height: 100%; */
}

.noDrag {
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
}

@media screen and (max-width: 786px) {
  html, body {
    font-size: 14px;
  }
}