.wrapper {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.left {
    display: flex;
    align-items: flex-start;
}

.left > input {
    box-sizing: border-box;
    margin-left: 1em;
    width: 5em;
}

/* buttons */
.buttons > button {
    margin-right: 1em;
}



/* inputs */

.edit {
    box-sizing: border-box;
    padding: 0 0.5em;
    margin-bottom: 2em;
    
    width: 80%;
    min-width: 30em;
    background-color: var(--white-color);

    border-radius: 10px;
    border: 1px solid var(--line-color);
}

.title {
    color: var(--light-txt-color);
    font-size: 1em;
    margin: 0;
    margin-bottom: 1em;
}

/* text area */
.edit:nth-child(1) {
    border-bottom: 1px solid var(--grey-line-color);
}