.edit {
    width: 60%;
    min-width: 30em;
    background-color: var(--white-color);
}

.input {
    box-sizing: border-box;

    max-height: 4em;
    overflow-y: hidden;
    resize: none;
    background-color: transparent;

    width: 100%;
    border: none;
    outline: none;
}