.gnb {
    position: sticky;
    top: 0;
    
    font-size: 16px;
    box-sizing: border-box;
    padding: 1em 0;
    /* width: 100%; */
    /* min-width: 12em; */
    max-width: 13em;
    height: 100vh;

    background-color: var(--white-color);
    border-right: 1px solid var(--grey-line-color);

    transition: all 200ms ease-in-out;
}

/* logo */

.logo {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
    padding: 1em;
    
    font-size: 1.5em;
    font-family: 'TheJamsil5Bold';
    color: var(--main-color);

    /* drag */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-use-select: none;
    user-select: none;
}

/* toggle button */

.toggleBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;

    background-color: transparent;
    border: none;
    border-radius: 50%;
}

.toggleBtn.open {
    position: absolute;
    right: 1em;
}

.toggleBtn.close {
    position: static;
}

.toggleBtn > svg {
    font-size: 1.5em;
    color: var(--main-color);
}

.toggleBtn:hover {
    cursor: pointer;
}

/* menus */

.colFlex {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
}

.navMenu {
    position: relative;

    box-sizing: border-box;
    padding: 1em;
    margin-bottom: 0.5em;

    font-weight: var(--bold);
    font-size: 1em;
    letter-spacing: 2px;

    display: flex;
    align-items: center;

    /* border-radius: 10px; */
    width: 100%;
    /* margin-bottom: 0.5em; */

    color: var(--light-txt-color);
    border-right: 0 var(--grey-line-color);
    transition: all 250ms;
}

.navMenu:hover {
    color: var(--main-color);
    /* color: var(--txt-color); */
}

.navMenu.active {
    color: var(--main-color);
    /* color: var(--txt-color); */
    /* background-color: #58c23e15; */
    background-color: #136dc60f;
}

/* bar */
.navMenu > .bar {
    position: absolute;
    transform: scaleY(0);
    right: 0px;
    transition: transform 250ms;
}

.navMenu.active > .bar {
    width: 4px;
    height: 100%;
    transform: scaleY(1);

    background-color: var(--main-color);
}

/* icon */
.navMenu > svg {
    font-size: 20px;
    margin: 0 0.5em;
}

/* divider */
.divider {
    box-sizing: border-box;
    width: 100%;
    height: 2px;
    border-radius: 1px;
    background-color: #edededac;
    margin: 0.5em 0 1em 0;
}

.logout {
    position: absolute;
    bottom: 2em;

    margin-top: 1em;
    width: 100%;
    font-size: 1em;
    font-weight: var(--bold);

    background-color: transparent;
    border: none;
    color: var(--light-txt-color);

    display: flex;
    align-items: center;
    justify-content: center;
}

.logout > svg {
    font-size: 20px;
}

.logout:hover {
    cursor: pointer;
    color: var(--main-color);
}

.logout > p {
    margin-left: 1em;
}

@media screen and (max-width: 786px) {
    .gnb {
        font-size: 14px;
    }
}