.gnb {
    font-size: 16px;
    position: fixed;
    top: 0;
    box-sizing: border-box;
    padding: 1.5em 0;
    width: 13em;
    height: 100vh;

    background-color: var(--white-color);
    border-right: 1px solid var(--grey-line-color);
}

.colFlex {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 90vh;
}

.navMenu {
    position: relative;

    box-sizing: border-box;
    padding: 1em;

    font-weight: var(--bold);
    font-size: 1em;
    letter-spacing: 2px;

    display: flex;
    align-items: center;

    border-radius: 10px;
    width: 100%;
    margin-bottom: 0.5em;

    color: var(--light-txt-color);
    border-right: 0 var(--grey-line-color);
    transition: all 250ms;
}

.navMenu:hover {
    color: var(--txt-color);
}

.navMenu.active {
    color: var(--txt-color);
}

/* bar */
.navMenu > .bar {
    position: absolute;
    transform: scaleY(0);
    right: 0px;
    transition: transform 250ms;
}

.navMenu.active > .bar {
    width: 3px;
    height: 100%;
    transform: scaleY(0.8);

    background-color: var(--txt-color);
}

/* icon */
.navMenu > svg {
    font-size: 20px;
    margin: 0 0.5em;
}

/* divider */
.divider {
    box-sizing: border-box;
    width: 100%;
    height: 1px;
    border: 1px dotted var(--grey-line-color);
}

.logout {
    margin-top: 1em;
    width: 100%;
    font-size: 1em;
    font-weight: var(--bold);

    background-color: transparent;
    border: none;
    color: var(--light-txt-color);
}

.logout:hover {
    cursor: pointer;
    color: var(--main-color);
}

@media screen and (max-width: 786px) {
    .gnb {
        font-size: 14px;
    }
}